* {
    box-sizing: border-box;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input {
    display: flex;
    justify-content: space-evenly;
   
}
.image{
    margin: 25px;
    
   
}


.container {
    display: flex;
    

    
}

.lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 160px;
    
}
.lateral button {
    margin-bottom: 440px;
    
}
.lateral strong {
    font-size: 40px;
}

.alfabeto {
    margin: 10px 0;
    width: 660px;
    
}

.alfabeto button {
    margin: 15px 10px;
    width: 30px;
    height: 30px;
}

.desativado {
    background-color: grey;
}